@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  padding: 0 20rem 0 20rem;
  background-color: antiquewhite;
  font-family: "Lato", sans-serif;
  text-align: center;
}
